.page{
	padding:			5px;
}

#logo{
	width: 100%;
	margin-top:	10px;
}

.pathsHead{
	padding: 			3px 10px;
}
.pathsCell{
	padding: 			3px 10px;
}



.window {
	padding:			20px 30px;
	width:				450px;
}